<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Edit Content</title>
</head>
<body class="container-fluid p-0 min-vh-100 bg-dark-subtle d-flex flex-column justify-content-between">

<div th:replace="~{fragments/nav :: nav}"></div>

<main class="container-fluid d-flex flex-column text-center flex-grow-1 col-12" th:object="${content}">
    <div class="row">
        <div class="col-12">
            <h1 class="p-2 p-md-5">Edit Content</h1>
        </div>
        <div th:unless="${content}">Please choose a valid ID to edit.</div>
    </div>

    <div th:if="${content}"
         class="row contentDetailsContainer py-4 p-2 p-lg-4 col-12 col-lg-10 col-xxl-8 mx-auto bg-light d-flex justify-content-center">
        <h1 th:text="*{name}"></h1>
        <div id="buttonRow" class="col-12 d-flex justify-content-center gap-2">
            <a class="text-decoration-none" th:href="@{|/contentdetails/*{id}|}">
                <button class="btn btn-danger">Cancel</button>
            </a>
            <input form="editForm" type="submit" value="Save" class="btn btn-success text-center">
        </div>

        <!--        Form: -->
        <!--        Cast (multiple select existing)-->
        <!--        Summary textarea-->
        <!--        If Show = -->
        <!--            Date year First aired-->
        <!--            Date year last aired-->
        <!--        If Movie = -->
        <!--            Date yearReleased-->
        <!--        Platforms (existing platforms list)-->
        <!--        /FieldErrors nog te setten-->

        <form id="editForm" th:action="@{|/admin/contentedit/*{id}|}" method="post" class="p-3">
            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="contentName">Content name: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{name}" id="contentName" type="text"
                       th:errorclass="fieldError" placeholder="Enter a new name">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="director">Director: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{director}" id="director" type="text"
                       th:errorclass="fieldError" placeholder="Enter a director name">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="genre">Genre: </label>
                <select class="col-12 col-sm-6 col-lg-4 bg-white" th:field="*{genre}" id="genre"
                        th:errorclass="fieldError">
                    <option th:each="genre : ${allGenres}"
                            th:selected="*{genre}"
                            th:value="${genre}"
                            th:text="${genre}"></option>
                </select>
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="actors">Cast: </label>
                <select multiple class="col-12 col-sm-6 col-lg-4 bg-white" th:field="*{actors}" id="actors"
                        th:errorclass="fieldError">
                    <option th:each="actor : ${allActors}"
                            th:selected="*{actors}"
                            th:value="${actor.id}"
                            th:text="${actor.name}"></option>
                </select>
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="summary">Summary: </label>
                <textarea class="col-12 col-sm-6 col-lg-4" th:field="*{plotDescription}" id="summary"
                          th:errorclass="fieldError" placeholder="Enter a plot description."></textarea>
            </div>

            <div th:if="*{contentType == 'Show'}">
                <div class="row justify-content-center pb-2">
                    <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="firstYearAired">First year aired: </label>
                    <input class="col-12 col-sm-6 col-lg-4" th:field="*{firstYearAired}" id="firstYearAired" type="number"
                           th:errorclass="fieldError">
                </div>
                <div class="row justify-content-center pb-2">
                    <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="lastYearAired">Last year aired: </label>
                    <input class="col-12 col-sm-6 col-lg-4" th:field="*{lastYearAired}" id="lastYearAired" type="number"
                           th:errorclass="fieldError">
                </div>
            </div>

            <div th:if="*{contentType == 'Movie'}">
                <div class="row justify-content-center pb-2">
                    <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="yearReleased">Year released: </label>
                    <input class="col-12 col-sm-6 col-lg-4" th:field="*{yearReleased}" id="yearReleased" type="number"
                           th:errorclass="fieldError">
                </div>
            </div>

        </form>
    </div>

<!--        <div class="col-12 col-sm-6 col-xl-5 text-start d-flex flex-column gap-2">-->
<!--            <div th:if="${content.class.name == 'be.thomasmore.streamfindr.model.Movie'}">-->
<!--                <div class="info">-->
<!--                    <div class="infoName fw-bold d-inline fs-5">Year Released:</div>-->
<!--                    <div class="infoValue d-inline fs-5" th:text="*{yearReleased}"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div th:if="${content.class.name == 'be.thomasmore.streamfindr.model.Show'}">-->
<!--                <div class="info">-->
<!--                    <div class="infoName fw-bold d-inline fs-5">First Year Aired:</div>-->
<!--                    <div class="infoValue d-inline fs-5" th:text="*{firstYearAired}"></div>-->
<!--                </div>-->
<!--                <div class="info">-->
<!--                    <div class="infoName fw-bold d-inline fs-5">Last Year Aired:</div>-->
<!--                    <div class="infoValue d-inline fs-5" th:text="*{lastYearAired}"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="info">-->
<!--                <div class="infoName fw-bold d-inline fs-5">Available on platform(s):</div>-->
<!--                <div class="infoValue d-inline fs-5">-->
<!--                    <span th:each="platform, iterStat : *{platforms}">-->
<!--                        <a th:href="@{|/platformdetails/${platform.id}|}">-->
<!--                            <span th:text="${platform.name}"></span>-->
<!--                        </a>-->
<!--                        <span th:if="${!iterStat.last}">, </span>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->


</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
