<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Edit Platform</title>
</head>
<body class="container-fluid p-0 min-vh-100 bg-dark-subtle d-flex flex-column justify-content-between">

<div th:replace="~{fragments/nav :: nav}"></div>

<main class="container-fluid d-flex flex-column text-center flex-grow-1 col-12" th:object="${platform}">
    <div class="row">
        <div class="col-12">
            <h1 class="p-2 p-md-5">Edit Platform</h1>
        </div>
        <div th:if="${platform == null or platform.id == null}">You did not enter a valid platform ID.</div>
    </div>

    <div th:if="${platform != null and platform.id != null}"
         class="row contentDetailsContainer py-4 p-lg-4 col-12 col-lg-10 col-xxl-8 mx-auto bg-light d-flex justify-content-center">
        <h1 th:text="*{name}"></h1>
        <h4 class="errorText" th:if="${#fields.hasErrors()}">Please fill out name, monthly price, USP and description.</h4>
        <div id="buttonRow" class="col-12 d-flex justify-content-center gap-2">
            <a class="text-decoration-none" th:href="@{|/platformdetails/*{id}|}">
                <button class="btn btn-danger">Cancel</button>
            </a>
            <input form="editForm" type="submit" value="Save" class="btn btn-success text-center">
        </div>

        <form id="editForm" th:action="@{|/admin/platformedit/*{id}|}" method="post" class="p-3">
            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="platformName">Platform
                    name: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{name}" id="platformName" type="text"
                       th:errorclass="fieldError" placeholder="Enter a new name">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="monthlyPrice">Monthly
                    price: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{monthlyPriceInUsd}" id="monthlyPrice" type="number"
                       th:errorclass="fieldError" placeholder="Enter monthly price in USD" min="0" step="any">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="yearlyPrice">Yearly price: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{yearlyPriceInUsd}" id="yearlyPrice" type="number" placeholder="Enter yearly price in USD" min="0" step="any">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="uniqueSP">Unique Selling
                    Point: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{uniqueSellingPoint}" id="uniqueSP" type="text"
                       th:errorclass="fieldError" placeholder="Enter the platform USP">
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="uniqueSP">Platform
                    description: </label>
                <textarea class="col-12 col-sm-6 col-lg-4" th:field="*{description}" id="description"
                          th:errorclass="fieldError" placeholder="Enter the platform description"></textarea>
            </div>

            <div class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="logoSource">Logo source: </label>
                <input class="col-12 col-sm-6 col-lg-4" th:field="*{imageUrl}" id="logoSource" type="text" placeholder="Enter a logo internet link">
            </div>

            <div th:if="*{content.size() != 0}" class="row justify-content-center pb-2">
                <label class="col-12 col-sm-6 col-lg-3 fw-bold fs-5 text-start" for="clearCatalogue">Clear catalogue: </label>
                <input class="col-12 col-sm-6 col-lg-4" name="clearCatalogue" id="clearCatalogue" type="checkbox">
            </div>

        </form>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
