@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lexend&display=swap');

* {
    font-family: 'Lexend', sans-serif !important;
}

#posterContainer {
    max-width: 1600px;
}

.posterDetail {
    max-height: 550px;
}
/*#22b6cb*/
.main-bg {
    background-color: #0096ff;
    color: white;
}

.contentContainer {
    max-width: 1600px;
}

.contentDetailsContainer {
    max-width: 1250px;
}
