<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body class="container-fluid p-0 min-vh-100 bg-dark-subtle d-flex flex-column justify-content-between">

<div th:replace="~{fragments/nav :: nav}"></div>

<main class="container-fluid d-flex flex-column text-center flex-grow-1 col-12">
    <div class="row">
        <div class="col-12">
            <h1 class="p-5">Welcome to StreamFindr</h1>



        </div>
    </div>
    <div class="row p-xxl-2 col-12 col-xxl-10 mx-auto">
        <div class="col-12 col-lg-3 text-start bg-secondary-subtle">
            <div class="row p-2">
                <div id="leftInfo1">
                    <h2 class="mb-3">What is StreamFindr?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, eos obcaecati iure velit
                        tenetur fugiat laboriosam necessitatibus labore accusamus libero officia nostrum magnam aliquid
                        ipsam numquam, culpa qui optio expedita.</p>
                </div>
                <div id="leftInfo2">
                    <h2 class="mb-3">New Platform Added</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, eos obcaecati iure velit
                        tenetur fugiat laboriosam necessitatibus labore accusamus libero officia nostrum magnam aliquid
                        ipsam numquam, culpa qui optio expedita.</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6 text-start bg-primary-subtle">
            <div class="row p-2">
                <h2>New Releases</h2>
                <div class="row m-auto p-0 gy-3 flex-wrap">

                        <img th:each="content: ${content}" th:src="${content.getPosterSrc()}"
                             class="img-fluid col-12 col-sm-6 col-lg-4">

                </div>
            </div>
        </div>
        <div class="col-2 text-start bg-info-subtle flex-grow-1">
            <div class="row p-2">
                <h2>Popular</h2>
                <div class="row m-auto p-0 gy-3">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img th:src="@{/img/movieposters/faith.jpg}" src="/img/movieposters/faith.jpg"
                                     class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/movieposters/basement.jpg}" src="/img/movieposters/basement.jpg"
                                     class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/movieposters/monster.jpg}" src="/img/movieposters/monster.jpg"
                                     class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>