<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Platform List</title>
</head>
<body class="container-fluid p-0 min-vh-100 bg-dark-subtle d-flex flex-column justify-content-between">

<div th:replace="~{fragments/nav :: nav}"></div>

<main id="platformContainer" class="container-fluid d-flex flex-column text-center flex-grow-1 col-12">
    <div class="row">
        <div class="col-12">
            <h1 class="p-2 p-md-5">Platform list</h1>
        </div>
    </div>

    <div class="row p-2 p-xxl-2 col-12 col-xxl-10 mx-auto bg-light">
        <div class="col-12" th:if="${showFilters}">
            <a class="btn btn-info" th:href="@{/platformlist}">Hide Filters</a>

            <form class="d-flex flex-column py-2">
                <div class="row d-flex flex-wrap justify-content-center wrapper py-1 py-md-2">
                    <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 text-center">
                        <label class="form-label fw-bold" for="keyword">Keyword search:</label>
                        <input type="text" class="form-control" id="keyword" name="keyword"
                               placeholder="Search on name"
                               th:value="${keyword}" value="">
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 text-center fw-bold" id="maxFeeSlider">
                        <label for="maxFeeRange" class="form-label">Max monthly fee:
                            <span th:text="${maxMonthlyFee}" id="sliderValue">0</span>
                        </label>
                        <input th:min="${lowestFee}" th:max="${highestFee}" type="range" class="form-range"
                               id="maxFeeRange" step="1"
                               th:value="${maxMonthlyFee ?:0}" name="maxMonthlyFee" value="4.99"
                               onChange="updateSliderValue()">
                    </div>


                        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 text-center">
                            <label class="form-label fw-bold" for="keyword">Annual Subscription?</label>
                            <select class="form-select" name="annualSubscriptionPossible">
                                <option th:selected="${annualSubscriptionPossible == null}" value="">All</option>
                                <option th:selected="${annualSubscriptionPossible == true}" value=true>Yes</option>
                                <option th:selected="${annualSubscriptionPossible == false}" value=false>No</option>
                            </select>
                        </div>


                    <div class="wrapper text-center">
                        <input type="submit" value="Search"
                               class="btn btn-secondary mt-2 my-sm-2 col-6 col-sm-3 col-lg-2">
                    </div>
                </div>

                <!--Insert form
Filter on: name (keyword), monthly price (slider), annual subscription available -->
            </form>
            <p class="p-0 m-0" th:text="|Items found: ${platforms.size()}|"></p>

        </div>


        <div th:unless="${showFilters}">
            <a class="btn btn-info" th:href="@{/platformlist/filter}">Show Filters</a>
        </div>
    </div>


    <div class="row p-1 p-xxl-2 col-12 col-xxl-10 mx-auto bg-light d-flex justify-content-center">
        <a th:each="platform: ${platforms}" th:href="@{|/platformdetails/${platform.getId()}|}"
           class="col-12 col-sm-6 col-md-4 p-4 px-5 align-self-center">
            <img th:src="${platform.getLogoSrc()}" class="img-fluid">
        </a>
    </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>

<script>
    function updateSliderValue() {
        var slider = document.getElementById("maxFeeRange");
        var output = document.getElementById("sliderValue");
        output.textContent = slider.value;
    }

    updateSliderValue();
</script>